$font-family: "PT Sans", "Arial", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-middle: 15px;
$font-size-bigger-middle: 18px;
$font-size-big: 30px;
$font-size-super-big: 36px;

$letter-spacing: 0.75px;
$letter-spacing-bid: 1.5px;

$color-dark: #666666;
$color-white: #ffffff;
$color-bright: #f1676a;
$color-pastel: #958387;
$color-light: #999999;
$color-gray: #f4f4f4;
$color-light-gray: #ececec;
$color-dark-gray: #cccccc;

$color-transparent: rgba($color-white, 0.51);
$color-dark-transparent: rgba($color-dark-gray, 0.51);
$color-light-transparent: rgba($color-white, 0.1);
$color-pastel-transparent: rgba($color-pastel, 0.3);
$color-bright-light-transparent: rgba($color-bright, 0.6);
$color-bright-transparent: rgba($color-bright, 0.75);
