$font-family: "PT Sans", Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-middle: 15px;
$font-size-bigger-middle: 18px;
$font-size-smaller-big: 24px;
$font-size-big: 30px;
$font-size-super-big: 36px;
$font-size-super: 40px;
$font-size-decoration: 137px;

$letter-spacing: 0.75px;
$letter-spacing-bid: 1.5px;

$color-dark: #666;
$color-darker: #333;
$color-white: #fff;
$color-bright: #f1676a;
$color-red: #ef6364;
$color-bright-red: #ff6666;
$color-pastel: #958387;
$color-light: #999;
$color-gray: #f4f4f4;
$color-light-gray: #ececec;
$color-dark-gray: #ccc;
$color-gray-1: #f7f7f7;

$color-transparent: rgba($color-white, 0.51);
$color-middle-transparent: rgba($color-white, 0.75);
$color-dark-transparent: rgba($color-dark-gray, 0.51);
$color-light-transparent: rgba($color-white, 0.1);
$color-white-transparent: rgba($color-white, 0.2);
$color-pastel-transparent: rgba($color-pastel, 0.3);
$color-bright-transparent: rgba($color-bright, 0.75);
