.advantages {
  margin-bottom: 60px;
}

.advantages__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: $font-size-super-big;
  font-weight: $font-weight-bold;
  line-height: 47px;
  color: $color-pastel;
}

.advantages__text {
  width: 820px;
  margin: 0 auto;
  color: $color-light;
}
