.articles {
  margin-bottom: 92px;

  &--inner-page {
    margin-bottom: 44px;
  }
}

.articles a {
  text-decoration: none;
}

.articles__title {
  margin-bottom: 42px;
  text-align: center;
}

.articles__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 25px;
}

.articles__mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 460px;

  .articles__item {
    width: 220px;
    height: 225px;
    margin-bottom: 17px;
  }
}

.articles__item {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;

  &--big {
    width: 460px;
    height: 352px;
    &:hover .articles__item-title {
      margin-top: 220px;
    }
  }

  &--large {
    width: 460px;
    height: 470px;
    background: url("../img/article-large-1.jpg") no-repeat -90px 0;
  }

  &--large-2 {
    background: url("../img/article-large-2.jpg") no-repeat -90px 0;
  }

  &--mini {
    width: 220px;
    height: 172px;
    margin-bottom: 12px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }

  &--small {
    width: 220px;
    height: 225px;

    margin-bottom: 17px;

    &:nth-child(3),
    &:nth-child(4) {
      margin-bottom: 0;
    }
  }
  /*
  &--small-1 {
    background: url("../img/article-small-1.jpg") no-repeat center;
  }

  &--small-2 {
    background: url("../img/article-small-2.jpg") no-repeat center;
  }

  &--small-3 {
    background: url("../img/article-small-2.jpg") no-repeat center;
  }

  &--small-4 {
    background: url("../img/article-small-4.jpg") no-repeat center;
  }

  &--small-5 {
    background: url("../img/article-small-5.jpg") no-repeat center;
  }

  &--small-6 {
    background: url("../img/article-small-6.jpg") no-repeat center;
  }

  &--small-7 {
    background: url("../img/article-small-7.jpg") no-repeat center;
  }

  &--small-8 {
    background: url("../img/article-small-8.jpg") no-repeat center;
  }
  */
  .articles__hover {
    position: absolute;
    flex-direction: column;
    width: 100%;
    z-index: 10;
    bottom: 0;
    left: 0;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 20px;
    background: transparentize($color-pastel, .6);
    color: $color-white;
    box-sizing: border-box;
    display: flex;
  }

  .articles__item-text,
  .articles__item-date {
    display: none;
  }

  &:hover {
    img {
      filter: blur(5px);
    }
    .articles__hover {
      height: 100%;
      border-radius: 30px;
    }
    .articles__item-text,
    .articles__item-date {
      display: block;
    }
  }
}

.articles--inner-page .articles__item--hidden {
  background: $color-gray-2;
  color: $color-light;
}

.articles__item-title {
  padding: 10px 20px;
  font-size: $font-size-middle;
  font-weight: $font-weight-bold;
  color: $color-white;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  letter-spacing: $letter-spacing-mini;

  &--hidden {
    padding: 0;
    margin-bottom: 18px;
  }
}
/*
.articles--inner-page .articles__item-title--hidden {
  color: $color-bright;

  &::before {
    color: $color-dark;
  }
}
*/
.articles__item--big-hidden .articles__item-date {
  margin-bottom: 200px;
}

.articles__item-date {
  align-self: flex-end;
  font-size: $font-size-small;
  letter-spacing: $letter-spacing-mini;
  margin-bottom: 5px;
}

.articles__item-text {
  font-size: $font-size-small;
  letter-spacing: $letter-spacing-mini;
}
