.breadcrumbs {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs__item a {
  padding-right: 20px;
  text-decoration: none;
  color: $color-dark;
}

.breadcrumbs__item--active a {
  color: $color-light;
}

.breadcrumbs__item a::after {
  content: "";
  position: absolute;
  right: 3px;
  top: 5px;
  width: 5px;
  height: 10px;
  background: url("../img/icons/arrow-breadcrumbs.svg") no-repeat center;
  opacity: 0.3;
}

.breadcrumbs__item--active a::after {
  display: none;
}
