.main-services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.main-services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-services__item {
  width: 140px;
  margin-bottom: 45px;
  //background: url("../img/icons/services-dermatology.svg") no-repeat center;
  //background-size: 140px 140px;
}

.main-services__item a {
  font-size: $font-size-middle;
  text-decoration: none;
  color: $color-white;
  text-align: center;
  display: inline-block;
}

.main-services__item svg {
  width: 112px;
  height: 112px;
  margin-bottom: 20px;
}

/* testing SVG */
.main-services__item svg path {
  fill: #fff;
  stroke: white;
  stroke-width: 1px;
  transition: .3s;
}

.main-services__item:hover svg path {
  fill: red;
  stroke: red;
}
/* end testing SVG */

.main-services__description {
  width: 300px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 55px;

}

.main-services__control {
  display: block;
}
