.page-footer {
  position: relative;
  background: $color-gray;

  &:before {
    content: "";
    position: absolute;
    top: 160px;
    width: 100%;
    height: 1px;
    background: $color-dark-gray;
  }
}

.page-footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 30px;
}

.page-footer__nav {
  width: 290px;
}

.page-footer__nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__nav-item {
  width: 75px;
  cursor: pointer;

  &:nth-child(1) {
    margin-bottom: 25px;
  }
}

.page-footer__nav-item a {
  text-decoration: none;
  color: $color-dark;

  &:hover {
    color: $color-dark-gray;
  }
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 560px;
}

.page-footer__contacts a {
  text-decoration: none;

  &:hover {
    color: $color-dark-gray;
  }

  &:hover svg path {
    fill: $color-dark-gray;
  }
}

.page-footer__contacts svg {
  margin-right: 8px;
  transform: translateY(3px);
}

.page-footer__contacts svg path {
  fill: $color-gray-4;
}

.page-footer__phone,
.page-footer__mail {
  width: 240px;
  margin-bottom: 25px;
  color: $color-dark;
}

.page-footer__address {
  width: 320px;
  color: $color-dark;
}

.page-footer__schema {
  margin-right: 193px;
  margin-bottom: 24px;
  color: $color-light;
  text-transform: lowercase;
  border-bottom: 1px dotted;
}

.page-footer__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 29px;
}

.page-footer__activities {
  display: flex;
  justify-content: space-between;
  width: 570px;
}

.page-footer__activities a {
  text-align: center;
  font-size: 13px;
  width: 180px;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 275px;
  padding-top: 10px;
}

.page-footer__copyright-date {
  color: $color-light;
}

.page-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  width: 145px;
  color: $color-dark;
}

.page-footer__copyright-link a {
  display: block;
  width: 69px;
  height: 30px;
  margin-top: -5px;
  font-size: 0;
  background: url("../img/azbuka.png") no-repeat center;
}
