.page-header__info {
  padding: 15px 0;
  background: $color-transparent;
}

.page-header__info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 640px;
}

.page-header__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 46px;
}
