.page-footer {
  background: $color-gray;
}

.page-footer__info {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 40px;
}

.page-footer__nav {
  width: 240px;
}

.page-footer__nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-footer__nav-item {
  width: 80px;
}

.page-footer__nav-item a {
  text-decoration: none;
  color: $color-dark;
}

.page-footer__contacts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 560px;
}

.page-footer__contacts a {
  text-decoration: none;
}

.page-footer__phone,
.page-footer__mail {
  width: 240px;
  color: $color-dark;

}

.page-footer__address {
  width: 300px;
  color: $color-dark;
}

.page-footer__schema {
  width: 273px;
  padding-left: 27px;
  color: $color-light;
}

.page-footer__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 29px;
}

.page-footer__activities {
  display: flex;
  justify-content: space-between;
  width: 570px;
}

.page-footer__activities a {
  color: $color-light;
  border-color: $color-light;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 275px;
  padding-top: 10px;
}

.page-footer__copyright-date {
  color: $color-light;
}

.page-footer__copyright-link {
  color: $color-dark;
}
