.page-header__info {
  padding: 15px 0;
  background: $color-transparent;

  &--inner-page {
    background: $color-dark-transparent;
  }
}

.page-header__info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-header__contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 640px;
  color: $color-dark;
  font-size: 13px;
}

.page-header__controls {
  display: flex;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 46px;
}

.page-header__phone-number {
  font-weight: $font-weight-bold;
}
