.page-controls {
  display: flex;
  justify-content: space-between;
  width: 420px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  color: $color-light;
  border-color: $color-light;
  border-radius: 50px;
  border-width: 2px;
  outline: none;
  font-size: $font-size-middle;
  border: none;
  //box-shadow: 0 0 7.84px 0.16px rgba(51, 51, 51, 0.07);
  box-shadow: 0 0 7.84px 0.16px rgba(236, 236, 236, 1);

  &--articles {
    margin-bottom: 56px;
  }

  &--long {
    width: 450px;
  }
}

.page-controls__control {
  width: 120px;
  padding: 0;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: $font-size-middle;
  background: transparent;
  color: $color-light;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;

  &--long {
    width: 220px;
    padding-left: 20px;
    padding-right: 20px;
  }

  &:hover {
    background-color: $color-gray;
    color: $color-dark;
  }

  &:hover svg path {
    fill: $color-dark;
  }

  &--prew {
    margin-right: 10px;
    padding-right: 25px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
  }

  &--prew svg {
    margin-right: 10px;
    transform: translateY(5px) rotate(180deg);
  }

  &--next {
    margin-left: 15px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }

  &--next svg {
    margin-left: 10px;
    transform: translateY(5px);
  }

  &--long-prew {
    padding-right: 20px;
  }
}

.page-controls__control svg path {
  fill: $color-dark-gray;
}

.page-controls__pages {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  list-style: none;
}

.page-controls__page {
  cursor: pointer;

  &:hover {
    background-color: $color-gray;
    color: $color-dark;
  }
}

.page-controls__page a {
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 13px;
  padding-bottom: 10px;
  color: $color-light;
  text-decoration: none;

  &:hover {
    background-color: $color-gray;
  }
}

.page-controls__page--active a {
  background-color: $color-gray;
}
