.promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 130px;
}

.promo__slider {
  width: 752px;
  overflow: hidden;
  padding-bottom: 10px;
}

.promo__list {
  width: 2286px;
  height: 228px;
  transition: transform .5s cubic-bezier(1,0,0,1);
  transform: translate3d(0,0,0);
}

.slider__input--2:checked ~ .promo__list {
  transform: translate3d(-762px,0,0);
}

.slider__input--3:checked ~ .promo__list {
  transform: translate3d(-1524px,0,0);
}

.promo__item {
  @include clearfix;
  width: 640px;
  float: left;
  margin-right: 76px;
  position: relative;
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 26px;
  background: $color-light-transparent;
  border-radius: 30px;
  box-shadow: 0 3px 10px rgba(0,0,0,.05);
  transition: background 0.3s;
  cursor: pointer;

  &:hover {
    background: rgba(255,255,255,0.18);
  }
}

.promo__image {
  position: relative;
  float: left;
  width: 174px;
  height: 174px;
  background: url("../img/slider-image-1.jpg") no-repeat;
  background-position: -35px top;
  border-radius: 30px;
}

.promo__offer {
  float: right;
  width: 380px;
  padding-top: 28px;
  margin-right: 40px;
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  color: $color-bright;
}

.promo__description {
  position: absolute;
  top: 141px;
  left: 380px;
  width: 273px;
  padding-top: 25px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 52px;
  background: $color-white;
  border-radius: 30px;
}

.promo__description svg {
  display: inline-block;
  vertical-align: top;
  margin-left: -60px;
  margin-right: 25px;
}

.promo__description svg path {
  fill: $color-red;
}

.promo__description p {
  display: inline-block;
  vertical-align: top;
}

.promo__activities {
  width: 188px;
}
