.promotion {
  padding-bottom: 52px;
}

.promotion__item {
  display: flex;
  justify-content: space-between;
  height: 210px;
  padding: 15px 20px;
  letter-spacing: normal;
  border-radius: 30px;
  //border: 2px solid $color-gray;
  box-shadow: 0 0 7.84px 0.16px rgba(236, 236, 236, 1);
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out 0s;

  &:hover {
    border-color: transparent;
    box-shadow: 0 3px 16px 0 rgba(28, 30, 31, 0.15);
    transform: translateY(-5px);
  }

  &--big {
    position: relative;
    width: 100%;
    height: 310px;
    margin-bottom: 20px;
    background: url("../img/promo-image-big.jpg") no-repeat -240px -150px;
    border: none;

    &:hover {
      transform: translateY(0);
    }
  }

  &--middle {
    width: 460px;
  }

  &--poster {
    background: url("../img/promo-image-middle.jpg") no-repeat -20px 10px;
  }

  &--long {
    width: 700px;
  }

  &--small {
    width: 220px;
  }
}

.promotion__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.promotion__offer {
  position: absolute;
  width: 440px;
  bottom: 20px;
  right: 20px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 32px;
  padding-right: 40px;
  background: $color-middle-transparent;
  border-radius: 30px;
  box-sizing: border-box;
}

.promotion__offer-title {
  margin-bottom: 10px;
  font-size: $font-size-smaller-big;
  font-weight: $font-weight-bold;
  color: $color-bright;

  &::before {
    color: $color-pastel;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }
}

.promotion__offer:hover .promotion__offer-title::before {
  transform: scale(0.9);
  opacity: 0;
}

.promotion__offer-text {
  font-size: $font-size-middle;
  letter-spacing: normal;
}

.promotion__controls {
  display: flex;
  position: absolute;
  top: 20px;
  right: 30px;
  width: 36px;
}

.promotion__control {
  display: block;
  width: 36px;
  height: 36px;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;

  &:hover svg path {
    fill: $color-bright;
  }

  &--prew svg {
    transform: rotate(180deg);
  }
}

.promotion__control svg path {
  fill: $color-dark-gray;
}

.promotion__item-image {
  width: 164px;
  height: 164px;
  margin-top: 5px;
  background: url("../img/promo-image-mini.jpg") no-repeat -50px -30px;
  border-radius: 20px;
}

.promotion__item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 219px;

  &--long {
    width: 460px;
  }

  &--small {
    width: 181px;
  }
}

.promotion__item-title {
  position: relative;
  font-size: $font-size-bigger-middle;
  font-weight: $font-weight-bold;
  color: $color-bright;

  &::before {
    color: $color-dark;
    content: attr(data-hover);
    position: absolute;
    transition: transform 0.3s, opacity 0.3s;
  }

  &:hover {
    color: $color-bright;
  }

  &--poster {
    font-size: $font-size-smaller-big;
    font-weight: $font-weight-normal;
    color: $color-light;
  }
}

.promotion__item-title:hover::before {
  transform: scale(0.9);
  opacity: 0;
}

.promotion__item-text {
  font-size: $font-size-middle;
}

.promotion__item-time {
  font-size: $font-size-small;
  color: $color-dark-gray;

  &--poster {
    font-size: $font-size-normal;
    color: $color-dark;
  }
}

.promotion__item-price {
  font-size: $font-size-super;
  font-weight: $font-weight-bold;
  color: $color-bright;
}

.promotion__btn {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
