.results {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.results__description {
  width: 330px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 38px;
}

.results__title {
  margin-bottom: 25px;
}

.results__item {
  display: flex;
  width: 540px;
  height: 300px;
  margin-bottom: 27px;
  //background-image: url("../img/results.jpg");
  //background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
  border-radius: 30px;
  box-shadow: 0 0 7.84px 0.16px rgba(51, 51, 51, 0.07);
}

.results__image {
  width: 269px;
  background-image: url("../img/results.jpg");
  background-repeat: no-repeat;
  //background-position: center;
  //background-size: cover;
  background-size:  650px auto;


  &--before {
    background-position: 122px;
  }

  &--after {
    background-position: -464px -24px;
  }
}

.results__separator {
  position: relative;
  width: 2px;

  &:before {
    content: "";
    position: absolute;
    top: -8px;
    left: -7px;
    width: 16px;
    height: 16px;
    background: $color-white;
    border-radius: 50%;
    box-shadow: 0 0 7.84px 0.16px rgba(51, 51, 51, 0.07);
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: -7px;
    width: 16px;
    height: 16px;
    background: $color-white;
    border-radius: 50%;
    box-shadow: 0 0 7.84px 0.16px rgba(51, 51, 51, 0.07);
  }
}

.results__toggles {
  display: flex;
  justify-content: flex-end;
}

.results__toggle-show-photo {
  display: flex;
  justify-content: space-around;
  width: 190px;
}

.results__toggle-show-slide {
  width: 98px;
  height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  margin-left: 50px;
  border-radius: 30px;
  box-shadow: 0 0 7.84px 0.16px rgba(51, 51, 51, 0.07);
}

.results__show-slide {
  &:hover svg path {
    fill: $color-bright;
  }

  &--prew svg {
    margin-right: 10px;
    transform: translateY(5px) rotate(180deg);
  }

  &--next svg {
    margin-left: 10px;
    transform: translateY(5px);
  }
}

.results__show-slide svg path {
  fill: $color-dark-gray;
}

.results__show-photo svg {
  transform: translateY(5px);
}

.results__show-photo {
  color: $color-light;
  cursor: pointer;

  &--half {
    width: 17px;
    height: 28px;
    border-radius: 30px;
    box-shadow: 0 0 7.84px 0.16px rgba(51, 51, 51, 0.07);
  }

  &--before svg {
    transform: translateY(5px) rotate(180deg);

    &:first-child {
      margin-left: 5px;
      margin-right: -5px;
      transform: translateY(5px) scale(0.7) rotate(180deg);
    }
  }

  &--after svg:last-child {
    margin-right: 5px;
    margin-left: -5px;
    transform: translateY(5px) scale(0.7);
  }
}

.results__show-photo svg path {
  fill: $color-dark-gray;
}

.results__separator,
.results__slide-number,
.results__slide-total {
  color: $color-light;
}
