.services {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.services__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 480px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  width: 140px;
  //background: url("../img/icons/services-dermatology.svg") no-repeat center;
  //background-size: 140px 140px;
}

.services__item a {
  font-size: $font-size-middle;
  text-decoration: none;
  color: $color-white;
}

.services__description {
  width: 300px;
  padding-top: 14px;
  padding-left: 20px;
  padding-right: 10px;
  padding-bottom: 55px;

}

.services__control {
  display: block;
}

.services__name {
  font-size: $font-size-big;
  font-weight: $font-weight-bold;
  color: $color-pastel;
}
