.title {
  font-weight: $font-weight-bold;
  color: $color-pastel;

  &--h2 {
    font-size: $font-size-super-big;
    line-height: 47px;
  }

  &--h3 {
  font-size: $font-size-big;
  }

  &--h4 {
  font-size: $font-size-smaller-big;
  }
}
