.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: 2px;
  margin-left: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid red;

  &--active {
    transform: rotate(180deg);
  }

  &--black {
    border-top: 5px solid black;
  }
}
